{% extends "juice/templates/index.html" %}
{% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                Build your second brain
            </h1>
            <h3 class="title-text">
                <b>RustyBrain</b> is a note-taking application that implements Zettelkasten method by Niklas Luhmann.
            </h3>
            <div>
                <a class="github-button" href="https://github.com/rustybrain-dev/rustybrain" data-size="large" data-show-count="true"
                   aria-label="Star rustybrain-dev/rustybrain on GitHub">Star</a>
                <a class="github-button" href="https://github.com/rustybrain-dev/rustybrain/fork" data-size="large"
                   data-show-count="true" aria-label="Fork rustybrain-dev/rustybrain on GitHub">Fork</a>
            </div>
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="juice.svg") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
{% endblock hero %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fed43f">
    <meta name="apple-mobile-web-app-title" content="RustyBrain">
    <meta name="application-name" content="RustyBrain">
    <meta name="msapplication-TileColor" content="#fed43f">
    <meta name="theme-color" content="#fed43f">
{% endblock favicon %}